@{
    ViewData["Title"] = "About project";
}

<h1>ABOUT PROJECT</h1>
<p>This web-application was developed by Nikita Andreev (st84452) for university course "Object-oriented Programming. Course Work". Cryptocurrency reporting application allows users to keep track of cryptocurrency transactions, such as purchases, sales and profits.</p>